<h1>Hero Form</h1>

<form appPasswordMatches #heroForm="ngForm" (ngSubmit)="onSubmit(heroForm)">

  <label>Name</label>
  <input appForbiddenValidator type="text" required #name="ngModel" [(ngModel)]="model.name" name="name">

  <div *ngIf="name.invalid && (name.dirty || name.touched)">
    <p *ngIf="name.errors?.required">Name is required</p>
    <p *ngIf="name.errors?.isForbidden">Name is forbidden</p>
  </div>

  <br>
  <br>

  <label>Age</label>
  <input type="text" [(ngModel)]="model.age" name="age">

  <br>
  <br>

  <div>
    <label>Password</label>
    <input type="text" [(ngModel)]="model.password" name="password">
  </div>

  <div>
    <label>Confirm</label>
    <input type="text" [(ngModel)]="model.confirm" name="confirm">
  </div>

  <p *ngIf="heroForm.errors?.nomatch">Passwords do not match</p>

  <label>Power</label>
  <select [(ngModel)]="model.power" name="power">
    <option *ngFor="let power of powers" [value]="power">
      {{ power }}
    </option>
  </select>

  <br>
  <br>

  <button type="submit">Submit</button>

</form>