<h1>Profile Editor</h1>

<form (ngSubmit)="onSubmit()" [formGroup]="profileForm">

  <div>
    <label>First Name</label>
    <input type="text" formControlName="firstName">

    <p *ngIf="firstName.errors?.required">
      Name is required
    </p>

    <p *ngIf="firstName.errors?.minlength">
      Name must be at least 5 characters
    </p>

    <p *ngIf="firstName.errors?.isForbidden">
      Name is forbidden
    </p>

  </div>

  <div>
    <label>Last Name</label>
    <input type="text" formControlName="lastName">
  </div>

  <div formGroupName="address">

    <div>
      <label>City</label>
      <input type="text" formControlName="city">
    </div>

    <div>
      <label>State</label>
      <input type="text" formControlName="state">
    </div>

  </div>

  <div formArrayName="aliases">

    <h3>Aliases</h3>
    <button type="button" (click)="addAlias()">
      Add Alias
    </button>

    <div *ngFor="let alias of aliases.controls;
    let i = index;">
      <label>Alias</label>
      <input type="text" [formControlName]="i">
    </div>

  </div>

  <div>
    <label>Password</label>
    <input type="text" formControlName="password">
  </div>

  <div>
    <label>Confirm</label>
    <input type="text" formControlName="confirm">
  </div>

  <p *ngIf="profileForm.errors?.nomatch">Passwords do not match</p>

  <button type="submit">Submit</button>

</form>

<button type="button" (click)="updateProfile()">Update Profile</button>